{% extends "base.html" %}

{% block title %}About{% endblock %}
{% block header_about%}
        <li class="nav-item">
          <a class="nav-link active" href="/store">About Us</a>
        </li>
{% endblock %}

{% block content %}
<p style="font-family: 'Montserrat', sans-serif; font-weight:700; font-size:30px;margin-top:50px;">FShop is near you </p>
<p style="word-wrap: break-word;font-family: 'Montserrat', sans-serif; font-weight:500; font-size:20px;margin-top:20px;margin-right:500px;">TEXTTEXTTEXTTEXTTEXTTEXTTEXTTEXTTEXTTEXTTEXTTEXTTEXTTEXTTEXTTEXTTEXTTEXTTEXTTEXTTEXTTEXTTEXTTEXTTEXTTEXTTEXTTEXTTEXTTEXTTEXTTEXTTEXTTEXTTEXT</p>

{% endblock content%}

