{% extends "base.html" %}
{% load specifications %}

{% block title %}{{ product.title}}{% endblock %}
{% block header_store%}
        <li class="nav-item">
          <a class="nav-link active" href="/store">Store</a>
        </li>
{% endblock %}

{% block content %}
<div style="flex-direction:row;display:flex;">
    <div style="width:50%;">
        <img src="{{ product.image.url }}" style="width:500px; height:500px; position: -webkit-sticky;position: sticky;top: 10px;">
    </div>

    <div style="width:50%;margin-left:40px">
        <p style="font-family: 'Montserrat', sans-serif; font-weight:700; font-size:60px">{{ product.category }} | {{ product.title}}</p>
        <p style="font-family: 'Montserrat', sans-serif; font-weight:700; font-size:40px">{{product.price}}$</p>
        <button style="background:#15d798;border-radius: 16px;width:         300px;height:        50px;color:         #ffffff;display:       inline-block;font:          normal bold 17px/50px 'Montserrat', sans-serif;text-align:    center;">Buy</button>
        <p style="font-family: 'Montserrat', sans-serif; font-weight:300; font-size:18px; margin-top:20px;"><p style="font-family: 'Montserrat', sans-serif; font-weight:500; font-size:20px; margin-bottom:-10px;">Описание:</p> <br>	{{ product.description }}</p>
        <p style="font-family: 'Montserrat', sans-serif; font-weight:500; font-size:20px; margin-top:5px;" >Характеристки:</p>
        {{ product|product_spec}}

    </div>

</div>

{% endblock content%}
